/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

/* Variáveis */
:root {
    --fonte-destaque: 'DM Serif Text', serif;
    --fonte-padrao: 'Instrument Serif', serif;
    --cor-padrao:#F0EBCE;
    --cor-background: #395144;
    --cor-background-2: #4E6C50;
    --cor-hover: #AA8B56;
}

 
        
        body {
            background: linear-gradient(#364d40 20%, #AA8B56, white);
            color: #333;
            line-height: 1.6;
        }
        
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }
        
        
        /* Formulário de confirmação */
        .rsvp-section {
            
            padding: 60px 0;
           
        }

        .section-title {
            font-family: var(--fonte-destaque);
            font-weight: normal;
            text-align: center;
            margin-bottom: 40px;
            color: var(--cor-padrao);
            font-size: 2.2rem;
        }
        
        .rsvp-form {
            max-width: 600px;
            margin: 0 auto;
            background-color: #f9f7f7b9;
            box-shadow: 0 5px 15px rgba(0,0,0,0.5);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.05);
        }
        
        .form-group {
            font-family: var(--fonte-padrao);
            font-size: 1.3em;
            font-weight: bolder;
            margin-bottom: 20px;
        }
        
        .form-group label {
            display: block;
            margin-bottom: 8px;
            font-weight: 500;
            color: #555;
        }
        
        .form-group input {
            font-family: var(--fonte-padrao);
            width: 95%;
            padding: 12px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 1rem;
        }
        
        .btn {
            display: inline-block;
            background-color: var(--cor-background);
            color: white;
            padding: 12px 25px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 500;
            transition: background-color 0.3s ease;
        }
        
        .btn:hover {
            background-color: var(--cor-hover);
        }
        
        .btn-block {
            display: block;
            width: 100%;
        }

           /* Modal */
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            z-index: 1000;
            justify-content: center;
            align-items: center;
        }
        
        .modal-content {
            background-color: white;
            padding: 30px;
            border-radius: 10px;
            max-width: 500px;
            width: 90%;
            text-align: center;
            position: relative;
        }
        
        .close-modal {
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 1.5rem;
            cursor: pointer;
            color: #777;
        }
        